<%= form_for @changeset, Routes.topic_path(@conn, :update, @topic), fn f-> %>
<div class="form-group">
  <%= text_input f, :title, placeholder: "Title", class: "form-control" %>
  <div class="mt-4 flex gap-1 items-center capitalize">
    <%= error_tag f, :title %>
  </div>
</div>
<%= submit "Save Topic", class: "btn btn-primary bg-red-500" %> <% end %>
